<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2026 The Gatepost authors
SPDX-License-Identifier: Apache-2.0
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	cacheResultFile="build/phpunit/result.cache"
	colors="true"
	executionOrder="random"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true">
	<testsuites>
		<testsuite name="plugin">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
